{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <title>Game Hub</title>
</head>
<body>
    <!-- Header -->
    <header>
        <div class="logo">
            <a href="/">
                <img src="{% static 'img/logo.png' %}" alt="GameHub">
            </a>
        </div>
        <nav>
            <ul class="nav-links">
                <li><a href="/">TRANG CHỦ</a></li>
                <li><a href="{% url 'register' %}">Đăng Kí</a></li>
                <li><a href="{% url 'login' %}">Đăng Nhập</a></li> <!-- Link đến trang login -->
            </ul>
        </nav>
    </header>

    <!-- Nội dung chính -->
    <div class="header">
        <h1>Chào mừng bạn đến với Game Hub!</h1>
        <p>Cổng thông tin của bạn cho các trò chơi thú vị và dễ dàng</p>
    </div>

    <div class="game-list">
        <!-- Game 1 -->
        <div class="game-item">
            <img src="{% static 'img/snake.jpg' %}" alt="Candy Crush">
            <h3>Snake</h3>
            <p>Winning is subjective here</p>
            <a href="{% url 'playgame' index=0 %}" class="play-button">Play</a>

          
        </div>

        <!-- Game 2 -->
        <div class="game-item">
            <img src="{% static 'img/truck.jpg' %}" alt="Fireboy and Watergirl">
            <h3>Monster Truck Mountain Climb</h3>
            <p>Wellcome!</p>
            <a href="{% url 'playgame' index=1 %}" class="play-button">Play</a>
        </div>

        <!-- Game 3 -->
        <div class="game-item">
            <img src="{% static 'img/Archer.jpg' %}" alt="Gold Digger Classic">
            <h3>Archer Hero</h3>
            <p>Wellcome!</p>
            <a href="{% url 'playgame' index=2 %}" class="play-button">Play</a>
        </div>

        <!-- Game 4 -->
        <div class="game-item">
            <img src="{% static 'img/Capy.jpg' %}" alt="Liên minh">
            <h3>Capybara Clicker Pro</h3>
            <p>Wellcome!</p>
            <a href="{% url 'playgame' index=3 %}" class="play-button">Play</a>
        </div>

        <!-- Game 5 -->
        <div class="game-item">
            <img src="{% static 'img/block.jpg' %}" alt="Dead Cells">
            <h3>Block Blast</h3>
            <p>Wellcome!.</p>
            <a href="{% url 'playgame' index=4 %}" class="play-button">Play</a>
        </div>

        

    <!-- Footer -->
    <footer>
        <div class="footer-content">
            <nav>
                <ul>
                    <li><a href="#">Chính sách bảo mật</a></li>
                    <li><a href="#">Điều khoảng dịch vụ</a></li>
                    <li><a href="#">Hỗ trợ</a></li>
                </ul>
            </nav>
            <p>&copy; 2025 GameHub. All rights reserved.</p>
        </div>
    </footer>
</body>
</html>
