body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('/static/img/background.jpg');
    background-size: cover;
    background-position: center;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.register-container {
    max-width: 450px;
    width: 100%;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
}

.register-title {
    color: #333;
    margin-bottom: 30px;
    font-size: 28px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
}

.register-form {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.form-label {
    font-weight: 600;
    margin-bottom: 8px;
    color: #555;
}

.form-input {
    width: 100%;
    padding: 16px 20px;
    border: 1px solid #ddd;
    border-radius: 50px;
    font-size: 16px;
    background-color: #f9f9f9;
    transition: border-color 0.3s, background-color 0.3s;
    box-sizing: border-box;
}

.form-input:focus {
    border-color: #007bff;
    background-color: #eef9ff;
    outline: none;
}

.form-error {
    color: #ff0000;
    font-style: bold;
    font-size: 15px;
    margin-top: 8px;
    
}

.register-button {
    padding: 16px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 50px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    width: 100%;
    box-sizing: border-box;
}

.register-button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.register-button:active {
    transform: scale(0.98);
}

.login-link {
    text-align: center;
    margin-top: 25px;
    color: #ffffff;
}

.login-link a {
    color: #ff0090;
    font-style: italic;
    text-decoration: none;
    font-weight: 600;
}

.login-link a:hover {
    text-decoration: underline;
}
